* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.card {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 2rem 4rem;
  max-height: 80%;
  max-width: 100%;
  width: fit-content;
  border: #cccccc solid 1px;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    max-height: 100%;
    width: 100%;
    padding: 2rem;
    border: none;
    top: 0;
    left: 0;
    transform: none;
  }
}

.warn {
  color: #e55c5c;
}

.button {
  background-color: #def0ff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.button-pressed {
  background-color: #a0bfd7;
}

.input {
  outline: #cccccc solid 1px;
  border: none;
  color: black;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.input:focus {
  outline: #a0bfd7 solid 2px;
}

.flex-basic {
  display: flex;
  gap: 0.5rem;
}

.flex-basic-column {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

table {
  border: #cccccc solid 1px;
  border-radius: 0.25rem;
  border-spacing: 0;
  text-align: left;
  border-collapse: separate;
  word-break: break-word;
  width: 100%;
}

thead > tr {
  background-color: #efefef;
}

th, td {
  border-right: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
  padding: 0.5rem 1rem;
}

td:last-child, th:last-child {
  border-right: none;
}

td {
  border-bottom: #cccccc solid 1px;
}

tbody > tr:last-child > td {
  border-bottom: none;
}
